html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    line-height: 100%;
    vertical-align: baseline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

ol, ul {
    list-style: none;
    font-size: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.wrapper__narrow {
    width: 936px;
    margin: 0 auto;
}

.wrapper__wide_header {
    height: 145px;
    background: #161616;
    background: -moz-linear-gradient(top, #161616 0, #3f3f3f 100%);
    background: -webkit-linear-gradient(top, #161616 0, 100%,#3f3f3f 100%);
    background: linear-gradient(to bottom, #161616 0,#3f3f3f 100%);
    border-bottom: 1px solid white;
}

.header__logo {
    float: left;
    width: 211px;
    padding: 42px 0 0 30px;
}

h1, h2 {
    line-height: 48px;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 20px;
    margin-bottom: 15px;
}


.header__nav {
    float: right;
    padding-top: 106px;
    font-family: 'Open Sans', sans-serif;
}

    .header__nav a {
        display: block;
        text-transform: capitalize;
        font-size: 14px;
        color: #fff;
    }

.header__menu_li {
    display: inline-block;
    margin-left: 1px;
}

    .header__menu_li > a {
        width: 132px;
        line-height: 38px;
        text-align: center;
        border-radius: 4px 4px 0 0;
        background: #262626;
        background: -moz-linear-gradient(top, #262626 0, #111 100%);
        background: -webkit-linear-gradient(top, #262626 0, 100%,#111 100%);
        background: linear-gradient(to bottom, #262626 0,#111 100%);
        -moz-transition: all 0.1s 0.01s ease;
        -o-transition: all 0.1s 0.01s ease;
        -webkit-transition: all 0.1s 0.01s ease;
        transition: all 0.1s 0.01s ease;
    }

        .header__menu_li > a:hover {
            text-transform: uppercase;
            font-style: italic;
            background: rgba(231,126,0,1);
            background: -moz-linear-gradient(bottom, rgba(231,126,0,1) 0, rgba(246,166,13,1) 100%);
            background: -webkit-linear-gradient(bottom, rgba(231,126,0,1) 0, rgba(246,166,13,1) 100%);
            background: linear-gradient(to top, rgba(231,126,0,1) 0, rgba(246,166,13,1) 100%);
            text-shadow: 1px 1px 1px #A55D08;
        }

    .header__menu_li:hover .header__submenu {
        display: block;
    }

.header__submenu {
    position: absolute;
    display: none;
    background: rgba(232,125,1,1);
    background: -moz-linear-gradient(left, rgba(232,125,1,1) 0, rgba(246,167,12,1) 100%);
    background: -webkit-linear-gradient(left, rgba(232,125,1,1) 0, rgba(246,167,12,1) 100%);
    background: linear-gradient(to right, rgba(232,125,1,1) 0, rgba(246,167,12,1) 100%);
}

.header__submenu_li a {
    width: 172px;
    font-size: 12px;
    line-height: 25px;
    margin-top: 6px;
    padding-left: 8px;
}

    .header__submenu_li a:hover {
        background-color: rgb(78,78,78);
    }

.wrapper__wide_banner {
    background-color: rgb(202,210,215);
    padding: 5px 0 6px 0;
    border-bottom: 1px solid white;
}

.banner {
    height: 306px;
    background: rgb(255,255,255) url(img/banner.jpg) 20px 0 no-repeat;
    border: 1px solid rgb(172,179,183);
    border-radius: 7px;
}

.banner__text {
    float: right;
    width: 460px;
    padding: 104px 28px 0 0;
}

    .banner__text p {
        font-family: 'Open Sans', sans-serif;
        font-size: 27px;
        text-indent: 110px;
        line-height: 30px;
        word-spacing: 2px;
    }

    .banner__text span {
        text-transform: uppercase;
        font-style: italic;
        font-size: 30px;
        color: rgba(231,126,0,1);
    }

.btn {
    display: block;
    width: 99px;
    line-height: 36px;
    color: rgb(255,255,255);
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn_orange {
    margin-right: 10px;
    margin-top: -1px;
    background: rgba(231,126,0,1);
    background: -moz-linear-gradient(bottom, rgba(231,126,0,1) 0, rgba(246,166,13,1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(231,126,0,1) 0, rgba(246,166,13,1) 100%);
    background: linear-gradient(to top, rgba(231,126,0,1) 0, rgba(246,166,13,1) 100%);
}

    .btn_orange:hover {
        background: rgba(19,19,19,1);
        background: -moz-linear-gradient(bottom, rgba(19,19,19,1) 0, rgba(73,73,73,1) 100%);
        background: -webkit-linear-gradient(bottom, rgba(19,19,19,1) 0, rgba(73,73,73,1) 100%);
        background: linear-gradient(to top, rgba(19,19,19,1) 0, rgba(73,73,73,1) 100%);
    }

.banner__btn {
    float: right;
}

.wrapper__wide_info {
    background: rgba(230,234,236,1);
    background: -moz-linear-gradient(top, rgba(230,234,236,1) 0, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(230,234,236,1) 0, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(230,234,236,1) 0, rgba(255,255,255,1) 100%);
    padding: 12px 0 20px 0;
}

.col {
    float: left;
    width: 308px;
    border: 1px solid rgb(172,179,183);
    border-radius: 7px;
    padding: 19px 25px 0 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

    .col:not(:last-of-type) {
        margin-right: 6px;
    }

    .col h1 {
        padding-left: 60px;
        border-bottom: 1px dotted #9B9A99;
        margin-bottom: 17px;
    }

    .col img {
        border: 1px solid rgb(211,211,211);
        border-radius: 5px;
        margin-bottom: 14px;
    }

    .col p {
        padding: 0 0 0 8px;
        color: rgb(128,128,128);
        word-spacing: 1px;
        line-height: 17px;
    }


.col__back1 {
    background: rgb(255,255,255) url(img/1.png) no-repeat 28px 10px;
}

.col__back2 {
    background: rgb(255,255,255) url(img/2.png) no-repeat 28px 10px;
}

.col__back3 {
    background: rgb(255,255,255) url(img/3.png) no-repeat 28px 10px;
}

.info__menu {
    padding: 0 0 0 8px;
    margin-bottom: 15px;
}

    .info__menu a {
        background: url(img/list.png) no-repeat 0 4px;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 10px;
        color: rgba(231,126,0,1);
        line-height: 17px;
        padding-left: 11px;
        word-spacing: 2px;
    }

        .info__menu a:hover {
            color: rgb(196,109,22);
        }

.info__btn {
    background: rgba(19,19,19,1);
    background: -moz-linear-gradient(bottom, rgba(19,19,19,1) 0, rgba(73,73,73,1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(19,19,19,1) 0, rgba(73,73,73,1) 100%);
    background: linear-gradient(to top, rgba(19,19,19,1) 0, rgba(73,73,73,1) 100%);
    margin: 0 0 30px 2px;
    padding: 1px;
}

    .info__btn:hover {
        background: none;
        border: 1px solid rgb(0,0,0);
        line-height: 34px;
        color: rgb(0,0,0);
    }

.wrapper__wide_service {
    background: rgba(38,39,39,1);
    background: -moz-linear-gradient(top, rgba(38,39,39,1) 0, rgba(62,62,62,1) 100%);
    background: -webkit-linear-gradient(top, rgba(38,39,39,1) 0, rgba(62,62,62,1) 100%);
    background: linear-gradient(to bottom, rgba(38,39,39,1) 0, rgba(62,62,62,1) 100%);
    padding: 19px 0 54px 0;
    color: rgb(153,153,153);
    border-bottom: 1px solid rgb(0,0,0);
}

.service__col h6 {
    color: rgb(190,120,33);
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 15px;
}

.service__col p:first-of-type {
    color: rgb(255,255,255);
    line-height: 17px;
    margin-bottom: 17px;
}

.service__col h2 {
    margin-bottom: 5px;
}

.service__h2 {
    padding-bottom: 5px;
}

.service__col_left {
    width: 66.66%;
    float: left;
    padding: 0 35px 0 3px;
}

.img_left {
    float: left;
    min-width: 216px;
    height: auto;
    margin: 0 21px 20px 0;
    border-radius: 4px;
}

.service__col_right {
    width: 33.33%;
    float: right;
    padding: 7px 0 0 37px;
}

    .service__col_right ul {
        font-size: 12px;
        color: rgb(153,153,153);
        margin-bottom: 18px;
    }

    .service__col_right li {
        line-height: 31px;
        border-bottom: 1px dotted rgb(107, 107, 109);
    }

.service__btn {
    float: left;
    margin: 6px 0 0 0;
}

    .service__btn:hover {
        background: none;
        border: 1px solid rgb(190,120,33);
        line-height: 34px;
    }

.wrapper__wide_footer {
    height: 81px;
    background: rgb(33,33,33);
    background: -moz-linear-gradient(left, rgba(33,33,33,1) 0, rgba(44,44,44,1) 50%, rgba(44,44,44,1) 51%, rgba(33,33,33,1) 100%);
    background: -webkit-linear-gradient(left, rgba(33,33,33,1) 0, rgba(44,44,44,1) 50%, rgba(44,44,44,1) 51%, rgba(33,33,33,1) 100%);
    background: linear-gradient(to right, rgba(33,33,33,1) 0, rgba(44,44,44,1) 50%, rgba(44,44,44,1) 51%, rgba(33,33,33,1) 100%);
    padding-top: 18px;
    color: rgb(139,139,139);
}

.footer__icon {
    float: left;
    padding-left: 4px;
}

.icon {
    float: left;
    width: 44px;
    height: 44px;
    margin-right: 6px;
}

.icon_1 {
    background: url(img/icon.png) no-repeat 0 0;
}

.icon_2 {
    background: url(img/icon.png) no-repeat -50px 0;
}

.icon_3 {
    background: url(img/icon.png) no-repeat -100px 0;
}

.icon_4 {
    background: url(img/icon.png) no-repeat -150px 0;
}

.icon_5 {
    background: url(img/icon.png) no-repeat -200px 0;
}

.footer__rightside {
    float: right;
    padding: 2px 0 0 0;
    width: 435px;
}

.footer__menu {
    font-size: 12px;
    margin-bottom: 5px;
}

.footer__menu_li {
    display: inline-block;
    padding: 0 18px;
    border-right: 1px solid rgb(49,49,49);
}

    .footer__menu_li:last-of-type {
        padding-right: 0;
        border-right: none;
    }

    .footer__menu_li a {
        display: block;
        text-transform: uppercase;
        color: rgb(139,139,139);
        font-size: 10px;
        border-bottom: 1px solid rgb(139,139,139);
    }

        .footer__menu_li a:hover {
            color: rgb(190,120,33);
            border-bottom: 1px solid rgb(190,120,33);
        }

    .footer__menu_li:first-child a {
        color: rgb(255,255,255);
        border-bottom: none;
    }

.footer__rightside p {
    float: right;
    padding-right: 2px;
}
